*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.top {
    position: fixed;
    border:1px solid black;
    width: 1500px;
    height: 65px;
    background-color: #e60012;
}
.imgtop{
    position: relative;
    left: 1150px;
}
.navg{
    width: 90px;
    height: 100px;
    border:1px solid black;
    background-color: #e60012;
}
.navbarg{
    position: fixed;
    padding-top: 65px;
}
.navg img{
    margin-left: 10px;
    margin-top: 10px;
}
.N{
    margin-left: 10px;
}
.nintendo{
    margin-left: 15px;
}